*{
    font-family: sans-serif;
}
 body {display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    }
 header {
    background-color: brown;
    margin-bottom: 10px;
    min-height: 8vh;

}
 h1 {
    margin-left: 10%;
 }
 main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
 }
 section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 32vh;
    min-height: 90vh;
 }
 h2 { background-color: sienna;
    min-height: 5vh;
 }
 article{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: skyblue;
    min-height: 25vh;
 }
 table {
    min-height: 50vh;
    background-color: teal;
 }
 th {
    background-color: burlywood;
 }




 #activity-block {
   display: flex;
   flex-direction: column;
 }

 .activity-block-row {
   width: 100%;
 }



.activity-input-form {
   display: flex;
   flex-direction: column;
}

.activity-item button {
   margin-bottom: 2em;
}